@(personaFilter: Form[(Int)], personas: Seq[model.Persona], limit:Int, offset: Int, sort: Int, order:String)

@theader(orderBy:Int, title:String) = {
    <!--suppress ALL -->
    <th>
        <a href="?sort=@{ if(orderBy == scala.math.abs(sort)) { if(orderBy > 0) -sort else sort } else orderBy }">@Messages(title)</a>
    </th>
}

@main {

    <h1>@Messages("persona_")</h1>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">@Messages("search_title")</h3>
        </div>
        @helper.form(action = routes.PersonaController.index(limit, offset, sort, order)) {

        <div class="panel-body">
            <div class="row">
                <div class="col-md-1">
                    @helper.inputText(personaFilter("id"))
                </div>
            </div>
            <div class="row">
                <div class="col-md-1">
                    <input type="submit" class="btn btn-primary" value="Buscar" />
                </div>
            </div>
        </div>

        }
    </div>

    <table class="table table-bordered">

        <thead>
            <tr>
                @theader(1,"persona_.id")
                @theader(2,"persona_.descripcion")
                @theader(3,"persona_.fecha_inicio")
            </tr>
        </thead>

        <tbody>
            @for(per <- personas) {
                <tr>
                    <td>@per.id</td>
                    <td><a href="/persona/@per.id">@per.descripcion</a></td>
                    <td>@per.fechaInicio</td>
                </tr>
            }
        </tbody>

    </table>

    <ul class="pagination">
        <li><a href="#">&laquo;</a></li>
        <li><a href="?offset=0">1</a></li>
        <li><a href="?offset=10">2</a></li>
        <li><a href="?offset=20">3</a></li>
        <li><a href="#">&raquo;</a></li>
    </ul>

}