@(personas: Seq[model.Persona])

@main {

<h1>@Messages("persona_")</h1>

<table class="table table-bordered">

    <thead>
        <tr>
            <th>@Messages("persona_.id")</th>
            <th>@Messages("persona_.descripcion")</th>
            <th>@Messages("persona_.fecha_inicio")</th>
        </tr>
    </thead>

    <tbody>
        @for(per <- personas) {
            <tr>
                <td>@per.id</td>
                <td><a href="/persona/@per.id">@per.descripcion</a></td>
                <td>@per.fechaInicio</td>
            </tr>
        }
    </tbody>

</table>
}